<template>
    <div class="row">
        <h1>
            TodoList.vue
        </h1>

        <!-- Input Task -->
        <div class="d-flex">
            <input v-model="task" type="text" placeholder="Enter new Task here !" class="form-control form-control-sm">
            <a class="btn btn-primary col-auto" @click="handleClick">
                <fa icon="plus" v-if="editedTask==null" />
                <fa icon="pen" v-if="editedTask!=null" />
                {{ editedTask == null ? 'Add' : 'Edit' }}
            </a>
        </div>

        <!-- List Task -->
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(task, index) in tasks" :key="index">
                    <th>T/00{{ index+1 }}</th>
                    <td>
                        <span :class="{ 'text-decoration-line-through': task.status==='Finished' }">
                            {{ task.name }}
                        </span>
                    </td>
                    <td style="width: 100px;">
                        <span @click="changeStatus(index)" style="cursor: pointer" :class="{
                            'text-success': task.status === 'Finished',
                            'text-info': task.status === 'In-Progress',
                            'text-danger': task.status === 'To-Do',
                         }">
                            {{ task.status }}
                        </span>
                    </td>
                    <td>
                        <fa icon="edit" class="text-primary" title="Edit Task" @click="editTask(index)" style="cursor: pointer" />
                        &nbsp;
                        <fa icon="trash" class="text-danger" title="Remove Task" @click="removeTask(index)" style="cursor: pointer" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "TodoList",
        props: {
            msg: String,
        },
        data(){
            return {
                task: '',
                editedTask: null,
                availableStatuses: ['To-Do', 'In-Progress', 'Finished'],
                tasks: [
                    {
                        name: 'Add Font Awesome from Yarn',
                        status: 'To-Do'
                    },
                    {
                        name: 'Add new functionality to the App',
                        status: 'In-Progress'
                    },
                    {
                        name: 'Create initial project for VueJS',
                        status: 'Finished'
                    }
                ]
            }
        },
        methods: {
            handleClick(){
                if (this.task.length === 0) return;

                if (this.editedTask === null){
                    this.tasks.push({
                        name: this.task,
                        status: 'To-Do'
                    });

                    this.$notify({
                        type: 'success',
                        text: 'Task added successfully !',
                    });
                } else {
                    this.tasks[this.editedTask].name = this.task;
                    this.editedTask = null;

                    this.$notify({
                        type: 'warn',
                        text: 'Task edited successfully !',
                    });
                }

                this.task = ''; // Just to clear the input data
            },
            editTask(index){ // To edit Task
                this.task = this.tasks[index].name;
                this.editedTask = index;
            },
            removeTask(index){ // To remove task
                this.$swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!',
                    width: '300px'
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.tasks.splice(index, 1);
                        this.editedTask = null;

                        this.$swal.fire( // Sweetalert2
                            'Deleted!',
                            'Your task has been deleted.',
                            'success',
                        );

                        this.$notify({ // Notification alert
                            title: 'Deleted',
                            type: 'error',
                            text: 'Your task T/OO'+ ++index +' has been deleted.!',
                        });
                    }
                });
            },
            changeStatus(index){
                let newIndex = this.availableStatuses.indexOf(this.tasks[index].status);
                // console.log(index + ' / ' + this.tasks[index].status);
                if (++newIndex > 2) newIndex = 0;
                this.tasks[index].status = this.availableStatuses[newIndex];

                // Sweetalert call
                // this.$swal('Hello from Sweetalert');

                // Notification alert
                this.$notify({
                    type: 'primary',
                    text: 'Task T/OO'+ ++index +' edited successfully !',
                });
            }
        }
    }
</script>