<template>
    <div class="container">
        <notifications />

        <div id="app" class="text-center">
            <todo_list />
        </div>
    </div>
</template>

<script>
import todo_list from './components/TodoList';

export default {
  name: 'App',
  components: {
    todo_list
  }
}
</script>

<style scoped>

</style>
